*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #1d3557;
}
div.header{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #14213d;
    color:#e9c46a ;
}
.playing{
    transform:scale(1.1);
    opacity: 0.9;
}
div{
    color:white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#btnContainer{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.gameText{
    display: flex;
    height: 17rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.play{
    font-size: 2.5rem;
}
.event{
    font-size: 2.3rem;
}
.btn{
    font-size: 7rem;
    padding: 2rem;
    height: 15rem;
    width: 15rem;
    background-color: #219ebc;
    border-radius: 1rem;
    border:none;
}
#scores{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 2.5rem;
}
.whilePlay{
    display: flex;
    gap: 3rem;
}
.afterPlay{
    display: flex;
    flex-direction: column;
}
#restartBtn{
    font-size: 2rem;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #354f52 ;
    border: none;
    color: #f1faee;
    font-weight: 700;
    border-radius: 1rem;
}

.btn:hover{
opacity: 0.9;
}
.btn:active,#restartBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
  }
#restartBtn:hover{
    opacity: 0.8;
}

.btn:active{
    background-color: #bbd0ff;
}
#restartBtn:active{
    background-color: #a8dadc;
    
}